<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{>linkheader}}
    <title>Weather Application-Home</title>
  </head>
  <body>
<div class="container-fluid main_menu">
<div class="row">
  <div class="col-md-10 col-12 mx-auto">
    <!--nav bar header -->
    {{>nav}}
    <!--end of  bar header -->
  </div>
</div>
</div>
    <!--mian header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          
            {{>body}}

     </div>
    
    </div>
  </div>
  </body>
  {{>footer}}
</html>